.searchIcon span{
    background-color: #FFF;
    cursor : pointer;
}

.searchIcon input{
    border-right-style:none;
}

.alignment{
	text-align:center;
}

.marginSet{
	margin-top:30px;
}
.minTemp{
	background-image: url(../images/minTemp.jpg);
    background-repeat: no-repeat;
    height: 40px;
    width: 20px;
    background-size: 100%;
    float: left;
}
.maxTemp{
	background-image: url(../images/maxTemp.jpg);
    background-repeat: no-repeat;
    height: 40px;
    width: 20px;
    background-size: 100%;
    float: left;
}
.gap{
	    float: left;
    min-width: 50%;
}
.marginTop{
	margin-top:25px;
}
.windImg{
	background-image: url(../images/winds.jpg);
    background-repeat: no-repeat;
    height: 40px;
    width: 20px;
    padding-right: 25px;
    background-size: 100%;
     margin-left:7px;
    
}
.humidImg{
	background-image: url(../images/humidity.jpg);
    background-repeat: no-repeat;
    height: 40px;
    width: 20px;
    padding-right: 25px;
    background-size: 100%;
     margin-left:7px;
    
}
.pressureImg{
	background-image: url(../images/pressure.jpg);
    background-repeat: no-repeat;
    height: 40px;
    width: 20px;
    padding-right: 25px;
    background-size: 100%;
     margin-left:7px;
    
}
.sunriseImg{
	background-image: url(../images/sunrise.png);
    background-repeat: no-repeat;
    height: 40px;
    width: 20px;
    padding-right: 25px;
    margin-left:7px;
    background-size: 100%;
    
}
.sunsetImg{
	background-image: url(../images/sunset.png);
    background-repeat: no-repeat;
    height: 40px;
    width: 20px;
    padding-right: 25px;
    background-size: 100%;
     margin-left:7px;
    
}
.coordsImg{
	background-image: url(../images/coords.png);
    background-repeat: no-repeat;
    height: 40px;
    width: 20px;
    padding-right: 25px;
    background-size: 100%;
     margin-left:7px;
    
}
.cloudAlign{
	    margin-left: 7px;
    top: 3px;
}